*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    max-width: 1200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    border-radius: 20px;
}
.cont{
    display: flex;/*deixa um do lado do outro*/
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;/*deixa em baixo do*/
    padding: 30px;
}
.cont .card{
    height: 250px;
    background: #FFFFE0;
    margin: 50px 30px;
    display: flex;
    border: 1.5px solid #111;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, .5);
    transition: 0.5s ease;
    border-radius: 4px;
    flex-basis: 300px;
}
.cont .card:hover {
    height: 350px;
}
.cont .card .imgBox{
    position: relative;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
    height: 260px;
    border-radius: 20px;
    top: -60px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
}
.cont .card .imgBox img{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
.cont .card .contente{
    margin-top: -140px;
    padding: 5px 10px;
    text-align: center;
    color: #111;
    opacity: 0;
    text-overflow: ellipsis;
    transition: 0.5s ease;
}
.cont .card .contente > h2{
    padding-bottom: 5px;
}

.cont .card .contente > p{
    word-break: break-all;
}
.cont .card:hover .contente{
    visibility: visible;
    position: relative;
    opacity: 1;
    height: 100%;
    margin-top:-55px;
}
.cont .card:hover .contente > .func{
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.cont .card:hover .contente > .func a{
    margin: 0 5px;
}

.background{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 9999;
    top: -1000%;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: .8s ease-in-out;
    left: 0;
}
.close{
    position: relative;
    cursor: pointer;
}
.background{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 9999;
    top: -1000%;
    flex-wrap: wrap;
    color: white;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    transition: .8s ease-in-out;
    left: 0;
}
.conteudo{
    display: grid;
    width: 90vw;
    height: 40vh;
    border-radius: 10px;
    margin-top: 5vh;
    padding: 1vw;
    text-align: center;
    grid-gap: 3px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "titulo autor"
    "descricao categoria"
    "descricao pais"
    "descricao data";
}
.conteudo div{
    height: 100%;
}
.conteudo > div h3{
    transform: translateY(45%);
}
.titulo{
    width: 100%;
    padding-top: 2.5vh;
    grid-area: titulo;
     padding-left: 5px;
    padding-right: 5px;
    font-size: max(1.3vw,.7em);
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 5px;
}
.descricao{
    grid-area: descricao;
    word-break: keep-all;
    overflow: hidden;
    padding-top: 2.5vh;
 padding-left: 5px;
    padding-right: 5px;
    text-overflow: ellipsis;
    font-size: max(1.2vw,.7em);
    word-wrap: break-word;
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 5px;
}
.autor{
    grid-area: autor;
    overflow: hidden;
    font-size: max(1.3vw,.7em);
     text-overflow: ellipsis;
     padding-top: 2.5vh;
      padding-left: 5px;
    padding-right: 5px;
     word-wrap: break-word;
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 5px;
}
.categoria{
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 5px;
    overflow: hidden;
     padding-left: 5px;
    padding-right: 5px;
    padding-top: 2.5vh;
    text-overflow: ellipsis;
    font-size: max(1.3vw,.7em);
    grid-area: categoria;
}
.pais{
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 5px;
    padding-top: 2.5vh;
    font-size: max(1.3vw,.7em);
    overflow: hidden;
     padding-left: 5px;
    padding-right: 5px;
    text-overflow: ellipsis;
    grid-area: pais;
}
.data{
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 10px;
    font-size: max(1.3vw,.7em);
    padding-top: 2.5vh;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: data;
}
.close{
    position: relative;
    cursor: pointer;
}
.btn_fechar{
    position: fixed;
    top: -200%;
    border-radius: 8px;
    background-color: #222;
    border: white solid 1px;
    margin: 0 auto;
    font-weight: bold;
    opacity: .9;
    transition: .8s ease-in-out;
    text-align: center;
    line-height: 37px;
    font-size: 25px;
    color: white;
    width: 40px;
    height: 40px;
    transition: .7s ease;
}
.btn_fechar:pressed{
    opacity: 1;
    transform: scale(1.1);
    background-color: #000;
}
.active{
    top: 0;
}
.btn_fechar_active{
    right: 20px;
    top: 20px;
}
.imagem-bg{
    display: flex;
    width: 70vw;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: center;
    margin: 0 auto;
    height: 55vh;
}
.imagem-bg > .slider{
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 90%;
}
.imagem-bg > .slider .right{
    position: absolute;
    right: 0;
    top: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid black;
    min-width: 20px;
    cursor: pointer;
    opacity: .9;
    background-color: rgba(240, 240, 240, 0.7);
    padding: max(2vh,3vh) max(2vw,3vw);
}

.imagem-bg > .slider .right:active{
    opacity: 1;
    background-color: rgba(240, 240, 240, 0.9);
}

.imagem-bg > .slider .right i{
    font-size: max(2vw,1.5em);
    color: black;
    font-weight: bold;
}



.imagem-bg  .slider > img{
    position: absolute;
    width: 100%;
    transform: translateY(10%);
    opacity: 0;
    transition: ease 2s;
    height: 100%;
}

.imagem-bg  .slider .image-active{
    opacity: 1;
}


@media(max-width:800px){
    .imagem-bg > .slider{
        width: 70vw;
        height: 100%;
    }
   
    .imagem-bg{
        display: flex;
        width: 50vw;
        border-radius: 10px;
        justify-content: center;
        margin: 0 auto;
        height: 45vh;
    }

    .cont .card .imgBox{
        height: 200px;
        border-radius: 20px;
        top: -30px;
        
    }
        
    .cont .card{
        height: 30vh;
        background: #FFFFE0;
        margin: 50px 30px;
        display: flex;
        border: 1.5px solid #111;
        flex-direction: column;
        box-shadow: 0 5px 202px rgba(0, 0, 0, .5);
        transition: 0.5s ease;
        border-radius: 4px;
        flex-basis: 300px;
    }
    .cont .card:hover {
        height: 350px;
    }
        
    .cont .card:hover .contente{
        margin-top:-10px;
    }

    
.imagem-bg  .slider > img{
    position: absolute;
    width: 100%;
    transform: translateY(2vh);
    opacity: 0;
    transition: ease 2s;
    height: 100%;
}

.conteudo > div h3{
    transform: translateY(5%);
}

}