/*resseta
----------------------------------------------
tirando os espaços*/
*,*:before, *::after{margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: inherit;/*pega o tamanho da fonte do navegador*/
    background: url('../img/bg.png');
    background-size: cover;/*ajusta a imagem junto do box*/
    background-position: center;
    background-attachment: fixed;

}

input, select, iframe, button {
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1, h2, h3{
    margin: 0;
    padding: 0;
    
}
ol, ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: #daa520;
}
/*GERAIS
------------------------------------------*/
.section{
    float: left;
    width: 100%;
    margin-top: -60px;
}

/*SEARCH E ESTATISTiCAS
------------------------------------------*/
.search-box{
    text-align: center;
    color: #ffffff;
    
}

.search-box h1{
    font-size: 37px;
    font-weight: bold;
}

.search-box .tagline{
    font-size: 26px;
}

.search-box form{
    position: relative;/*sem isso o botão de baixo vai para os quintos*/
    display: inline-block;
    width: 90%;
    max-width: 500px;/*tamanho máx*/
    margin-top: 40px;
}

.search-box form input[type="search"]{
    width: 100%;
    height: 50px;
    font-size: inherit;/*16px*/
    color: #2c3e50;
    padding: 0 70px 0 10px;
    border-radius: 6px ;
    -webkit-border-radius: 6px; /*mostrar para o web*/
}

.search-box form button{
    background: #daa520;
    position: absolute;
    width: 50px;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    top: 0;
    right: 0;
    cursor: pointer;/*criar a maozinha quando o mouse passar*/
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/*Estatisticas*/
.estatisticas{
    background: #ffffff;
    max-width: 960px;
    width: 90%;
    padding: 30px 0;/*top e button 30%%*/
    margin: 0 auto;
    text-align: center;

    display: flex;
    -webkit-display: flex;
    align-items: center;

    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow:0px 0px 30px 0px rgb(0, 0, 0,.3) ;
    box-shadow:0px 0px 30px 0px rgb(0, 0, 0,.3) ;

}

.estatisticas-item span{
    font-size: 33px;
    font-weight: bold;
}

.estatisticas-item p{
    font-size: 20px;
}

/*BREACKPOINTS MÁXIMOS MOBILE
------------------------------------------*/
@media(max-width:767.9px){
    /*MENU*/
    .section{
   margin-top: -10px;

    }
    
    /*estatisticas*/
    .estatisticas{
        margin: 20px auto;
        flex-direction: column;/*vai virar uma coluna*/ 
    }

    .estatisticas-item{
         min-width: 90%;/*problema, fica uma linha a mais no último ítem*/
    }
    .estatisticas-item:not(:last-of-type){/*faz em todos os elementos, menos no último*/
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
    }
    .menuzin li  ul{
        background: #fff;
     }
 
}


/*BREACKPOINTS MÍNIMO WEB
------------------------------------------*/
@media(min-width:768px){/*quando chegar em 169px, vai acontecer isso*/
    
     /*Search*/
    .search-box{
        padding: 50px 0 150px 0;
    }
      /*estatisticas*/
    .estatisticas{
        margin-top:-65px; /*invade o espaço do item de cima*/
        margin-bottom: 60px;
    }
    .estatisticas-item{
        text-align: center;
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    .estatisticas-item:not(:last-of-type){
        border-right: 1px solid #daa520;
    }
   
}




/*CLASSES AUXILIARES
------------------------------------------*/
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-rigth{text-align: right;}

.fl-left{float: left;}
.fl-rigth{float: right;}


.container {
	max-width:800px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="date"], #contact button[type="submit"] { font:500 16px/22px}

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #daa520;
	display: block;
	font-size: 38px;
	font-weight: bolder;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:18px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="date"]{
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="date"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#aa7e0f;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#daa520;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

